In [1]:
# install mysql connection package
!pip install mysql-connector-python

^C
Requirement already satisfied: mysql-connector-python in c:\users\amitm\anaconda3\lib\site-packages (9.0.0)

In [2]:
# import module
import mysql.connector as conn

In [3]:
# make a connection with mysql
mydb = conn.connect(
  host="localhost",
  user="root",
  password="12345"
)

print(mydb)

<mysql.connector.connection_cext.CMySQLConnection object at 0x000001ED9178EC10>

In [5]:
#create a database in mysql 
mycursor = mydb.cursor()

mycursor.execute("CREATE DATABASE MYDATA")

In [6]:
mycursor.execute("use mydata")

In [7]:
#show database
mycursor.execute("SHOW DATABASES")

for x in mycursor:
    print(x)

('bank',)
('bulk_load',)
('clauses',)
('const',)
('cte',)
('db',)
('ddl',)
('demo',)
('evenet',)
('final_data',)
('indexx',)
('information_schema',)
('joinn',)
('key_',)
('keyconst',)
('mydata',)
('mysql',)
('part',)
('patient',)
('performance_schema',)
('procedures',)
('sakila',)
('sys',)
('test',)
('trigg',)
('v',)
('win_fun',)
('world',)

In [ ]:
mycursor.execute("DROP DATABASE DEMO")

In [8]:
#CREATE TABLE 
mycursor.execute("CREATE TABLE customer (name VARCHAR(255), address VARCHAR(255))")

In [9]:
# HERE WE EDIT THE TABLE ADD ANOTHER COLUMN "MOB", WHICH IS AUTOINCREMENTED AND ALSO PRIMARY KEY
mycursor.execute("ALTER TABLE customer ADD COLUMN id INT AUTO_INCREMENT PRIMARY KEY first")

In [10]:
#inserting single row 
# NO NEED OF GIVE PARAMETER WHICH IS AUTOINCEMENTED
sql = "INSERT INTO customer (name, address) VALUES (%s, %s)"
val = ("ROHIT", "Highway 21")
mycursor.execute(sql, val)
mydb.commit()

In [11]:
print(mycursor.rowcount, "record inserted.")

1 record inserted.

In [12]:
mydb.commit()

In [13]:
# INSERT MANY VALUE AT A TIME
sql = "INSERT INTO customer(name, address) VALUES (%s, %s)"
val = [("ROHIT", "Highway 21"),
  ('Peter', 'Lowstreet 4'),
  ('Ammy', 'Apple st 652'),
  ('Huma', 'Mountain 21')]

In [14]:
#COMMIT THE VALUE WHICH WE INSERTED 
mycursor.executemany(sql, val)

mydb.commit()

print(mycursor.rowcount, "was inserted.")

4 was inserted.

In [15]:
#here again inserted a valus but will show the saperate id name of last added row
sql = "INSERT INTO customer (name, address) VALUES (%s, %s)"
val = ("Mohit", "sainagar")
mycursor.execute(sql, val)

mydb.commit()
print("1 record inserted, ID:", mycursor.lastrowid)

1 record inserted, ID: 6

In [16]:
# for view all the existing records available in table
mycursor.execute("SELECT * FROM customer")

myresult = mycursor.fetchall()

for x in myresult:
  print(x)

(1, 'ROHIT', 'Highway 21')
(2, 'ROHIT', 'Highway 21')
(3, 'Peter', 'Lowstreet 4')
(4, 'Ammy', 'Apple st 652')
(5, 'Huma', 'Mountain 21')
(6, 'Mohit', 'sainagar')

In [17]:
# here we can view seperately induvisual column like here we are showing name and address

mycursor.execute("SELECT name, address FROM customer")

myresult = mycursor.fetchall()

for x in myresult:
  print(x)

('ROHIT', 'Highway 21')
('ROHIT', 'Highway 21')
('Peter', 'Lowstreet 4')
('Ammy', 'Apple st 652')
('Huma', 'Mountain 21')
('Mohit', 'sainagar')

In [18]:
mycursor.execute("SELECT name FROM customer")

myresult = mycursor.fetchall()

for x in myresult:
  print(x)

('ROHIT',)
('ROHIT',)
('Peter',)
('Ammy',)
('Huma',)
('Mohit',)

In [19]:
# we filtering the data by using where condition 
sql = "SELECT * FROM customer WHERE address ='sainagar'"

mycursor.execute(sql)

myresult = mycursor.fetchall()

for x in myresult:
  print(x)

(6, 'Mohit', 'sainagar')

In [20]:
# with only single word in syllabus we are applying filter  "Wildcard Character"
sql = "SELECT * FROM customer WHERE address LIKE '%652%'"

mycursor.execute(sql)

myresult = mycursor.fetchall()

for x in myresult:
  print(x)

(4, 'Ammy', 'Apple st 652')

In [23]:
### ?????????????
sql = "SELECT * FROM customer WHERE address like 'l%'"
#adr = ("Yellow Garden 2", )

mycursor.execute(sql)

myresult = mycursor.fetchall()

for x in myresult:
  print(x)

(3, 'Peter', 'Lowstreet 4')

In [24]:
# using order by short the list  
sql = "SELECT * FROM customer ORDER BY name"

mycursor.execute(sql)

myresult = mycursor.fetchall()

for x in myresult:
  print(x)

(4, 'Ammy', 'Apple st 652')
(5, 'Huma', 'Mountain 21')
(6, 'Mohit', 'sainagar')
(3, 'Peter', 'Lowstreet 4')
(1, 'ROHIT', 'Highway 21')
(2, 'ROHIT', 'Highway 21')

In [25]:
# order by descending order
sql = "SELECT * FROM customer ORDER BY name DESC"

mycursor.execute(sql)

myresult = mycursor.fetchall()

for x in myresult:
  print(x)

(1, 'ROHIT', 'Highway 21')
(2, 'ROHIT', 'Highway 21')
(3, 'Peter', 'Lowstreet 4')
(6, 'Mohit', 'sainagar')
(5, 'Huma', 'Mountain 21')
(4, 'Ammy', 'Apple st 652')

In [26]:
# Delete record usning where condition 

sql = "DELETE FROM customer WHERE address = 'Mountain 21'"

mycursor.execute(sql)

mydb.commit()

print(mycursor.rowcount, "record(s) deleted")

1 record(s) deleted

In [27]:
# It is considered a good practice to escape the values of any query, also in delete statements.

# This is to prevent SQL injections, which is a common web hacking technique to destroy or misuse your database.

# The mysql.connector module uses the placeholder %s to escape values in the delete statement: 

sql = "DELETE FROM customer WHERE address = %s"
adr = ("Yellow Garden 2", )

mycursor.execute(sql, adr)

mydb.commit()

print(mycursor.rowcount, "record(s) deleted")

0 record(s) deleted

In [ ]:
# for delete the table from database

sql = "DROP TABLE customer"

mycursor.execute(sql)

In [28]:
# If the table you want to delete is already deleted, or for any other reason does not exist, you can use the IF EXISTS keyword to avoid getting an error.

sql = "DROP TABLE IF EXISTS customers"

mycursor.execute(sql)

In [29]:
# Update table Overwrite the address column from "Valley 345" to "Canyon 123":

sql = "UPDATE customer SET address = 'sainagar-2' WHERE address = 'sainagar'"

mycursor.execute(sql)

mydb.commit()

print(mycursor.rowcount, "record(s) affected")

1 record(s) affected

In [30]:
# order by descending order
sql = "SELECT * FROM customer ORDER BY name DESC"

mycursor.execute(sql)

myresult = mycursor.fetchall()

for x in myresult:
  print(x)

(1, 'ROHIT', 'Highway 21')
(2, 'ROHIT', 'Highway 21')
(3, 'Peter', 'Lowstreet 4')
(6, 'Mohit', 'sainagar-2')
(4, 'Ammy', 'Apple st 652')

In [31]:
# you can limit the record and the row using limit 

mycursor.execute("SELECT * FROM customer LIMIT 3")

myresult = mycursor.fetchall()

for x in myresult:
  print(x)

(1, 'ROHIT', 'Highway 21')
(2, 'ROHIT', 'Highway 21')
(3, 'Peter', 'Lowstreet 4')

In [32]:
# offset Start from position 3, and return 5 records:

mycursor.execute("SELECT * FROM customer LIMIT 5 OFFSET 2")

myresult = mycursor.fetchall()

for x in myresult:
  print(x)

(3, 'Peter', 'Lowstreet 4')
(4, 'Ammy', 'Apple st 652')
(6, 'Mohit', 'sainagar-2')

In [33]:
mycursor.execute("use bulk_load")

In [34]:
#show database
mycursor.execute("SHOW tables")

for x in mycursor:
  print(x)

('bank',)
('bank_sales',)
('customers',)
('employees',)
('employees1',)
('new_sales',)
('new_table',)
('orders',)
('orders1',)
('sales',)
('t_school',)

In [35]:
mycursor.execute("select * from bank where age = 44")

for i in mycursor:
    print(i)

(44, 'adults', 'technician', 'single', 'secondary', 'no', 29, 'yes', 'no', 'unknown', 5, 'may', 151, 1, -1, 0, 'unknown', 'no')
(44, 'adults', 'admin.', 'married', 'secondary', 'no', -372, 'yes', 'no', 'unknown', 5, 'may', 172, 1, -1, 0, 'unknown', 'no')
(44, 'adults', 'services', 'divorced', 'secondary', 'no', 2586, 'yes', 'no', 'unknown', 5, 'may', 160, 1, -1, 0, 'unknown', 'no')
(44, 'adults', 'technician', 'married', 'secondary', 'no', 0, 'yes', 'no', 'unknown', 5, 'may', 225, 2, -1, 0, 'unknown', 'no')
(44, 'adults', 'blue-collar', 'married', 'secondary', 'no', 582, 'no', 'yes', 'unknown', 5, 'may', 211, 1, -1, 0, 'unknown', 'no')
(44, 'adults', 'blue-collar', 'married', 'secondary', 'no', -674, 'yes', 'no', 'unknown', 5, 'may', 257, 1, -1, 0, 'unknown', 'no')
(44, 'adults', 'blue-collar', 'married', 'secondary', 'no', 54, 'yes', 'no', 'unknown', 5, 'may', 197, 1, -1, 0, 'unknown', 'no')
(44, 'adults', 'blue-collar', 'married', 'secondary', 'no', 144, 'yes', 'no', 'unknown', 5, 'may', 247, 2, -1, 0, 'unknown', 'no')
(44, 'adults', 'services', 'married', 'secondary', 'no', 1357, 'yes', 'yes', 'unknown', 5, 'may', 250, 1, -1, 0, 'unknown', 'no')
(44, 'adults', 'blue-collar', 'married', 'secondary', 'no', 575, 'yes', 'no', 'unknown', 5, 'may', 477, 1, -1, 0, 'unknown', 'no')
(44, 'adults', 'admin.', 'divorced', 'secondary', 'no', 66, 'yes', 'no', 'unknown', 5, 'may', 206, 1, -1, 0, 'unknown', 'no')
(44, 'adults', 'blue-collar', 'married', 'secondary', 'no', 129, 'yes', 'yes', 'unknown', 5, 'may', 189, 2, -1, 0, 'unknown', 'no')
(44, 'adults', 'services', 'married', 'tertiary', 'no', 510, 'yes', 'no', 'unknown', 5, 'may', 421, 4, -1, 0, 'unknown', 'no')
(44, 'adults', 'blue-collar', 'single', 'secondary', 'no', 34, 'yes', 'no', 'unknown', 5, 'may', 404, 4, -1, 0, 'unknown', 'no')
(44, 'adults', 'blue-collar', 'married', 'secondary', 'no', 274, 'yes', 'yes', 'unknown', 6, 'may', 409, 1, -1, 0, 'unknown', 'no')
(44, 'adults', 'self-employed', 'married', 'tertiary', 'no', 292, 'yes', 'no', 'unknown', 6, 'may', 162, 1, -1, 0, 'unknown', 'no')
(44, 'adults', 'services', 'divorced', 'secondary', 'no', 424, 'yes', 'no', 'unknown', 6, 'may', 27, 1, -1, 0, 'unknown', 'no')
(44, 'adults', 'blue-collar', 'married', 'secondary', 'no', -99, 'yes', 'no', 'unknown', 6, 'may', 111, 2, -1, 0, 'unknown', 'no')
(44, 'adults', 'admin.', 'married', 'unknown', 'no', 40, 'no', 'yes', 'unknown', 6, 'may', 160, 2, -1, 0, 'unknown', 'no')
(44, 'adults', 'blue-collar', 'married', 'primary', 'no', 148, 'yes', 'no', 'unknown', 6, 'may', 211, 1, -1, 0, 'unknown', 'no')
(44, 'adults', 'blue-collar', 'married', 'primary', 'no', 213, 'no', 'no', 'unknown', 6, 'may', 158, 1, -1, 0, 'unknown', 'no')
(44, 'adults', 'management', 'married', 'tertiary', 'no', 17, 'yes', 'no', 'unknown', 6, 'may', 352, 2, -1, 0, 'unknown', 'no')
(44, 'adults', 'services', 'divorced', 'secondary', 'no', 1, 'yes', 'no', 'unknown', 6, 'may', 235, 4, -1, 0, 'unknown', 'no')
(44, 'adults', 'self-employed', 'divorced', 'tertiary', 'no', 4, 'yes', 'no', 'unknown', 6, 'may', 312, 3, -1, 0, 'unknown', 'no')
(44, 'adults', 'entrepreneur', 'married', 'tertiary', 'no', 1631, 'yes', 'no', 'unknown', 6, 'may', 346, 2, -1, 0, 'unknown', 'no')
(44, 'adults', 'technician', 'single', 'unknown', 'no', 78, 'yes', 'no', 'unknown', 6, 'may', 13, 6, -1, 0, 'unknown', 'no')
(44, 'adults', 'blue-collar', 'divorced', 'secondary', 'no', 579, 'yes', 'no', 'unknown', 6, 'may', 198, 2, -1, 0, 'unknown', 'no')
(44, 'adults', 'management', 'married', 'tertiary', 'no', 105, 'yes', 'no', 'unknown', 6, 'may', 1529, 2, -1, 0, 'unknown', 'no')
(44, 'adults', 'blue-collar', 'married', 'primary', 'no', 67, 'yes', 'no', 'unknown', 6, 'may', 220, 2, -1, 0, 'unknown', 'no')
(44, 'adults', 'admin.', 'divorced', 'secondary', 'no', 161, 'yes', 'no', 'unknown', 7, 'may', 89, 2, -1, 0, 'unknown', 'no')
(44, 'adults', 'blue-collar', 'married', 'primary', 'no', 503, 'yes', 'no', 'unknown', 7, 'may', 629, 2, -1, 0, 'unknown', 'no')
(44, 'adults', 'technician', 'divorced', 'secondary', 'no', -329, 'yes', 'no', 'unknown', 7, 'may', 171, 1, -1, 0, 'unknown', 'no')
(44, 'adults', 'blue-collar', 'married', 'primary', 'no', 143, 'yes', 'no', 'unknown', 7, 'may', 153, 1, -1, 0, 'unknown', 'no')
(44, 'adults', 'retired', 'married', 'secondary', 'no', 7624, 'no', 'no', 'unknown', 7, 'may', 126, 5, -1, 0, 'unknown', 'no')
(44, 'adults', 'admin.', 'married', 'secondary', 'no', 58544, 'yes', 'no', 'unknown', 7, 'may', 144, 2, -1, 0, 'unknown', 'no')
(44, 'adults', 'management', 'married', 'unknown', 'no', 187, 'yes', 'no', 'unknown', 7, 'may', 185, 1, -1, 0, 'unknown', 'no')
(44, 'adults', 'services', 'married', 'primary', 'no', -79, 'yes', 'no', 'unknown', 7, 'may', 179, 2, -1, 0, 'unknown', 'no')
(44, 'adults', 'blue-collar', 'divorced', 'secondary', 'no', 558, 'yes', 'no', 'unknown', 7, 'may', 485, 1, -1, 0, 'unknown', 'no')
(44, 'adults', 'services', 'divorced', 'secondary', 'no', 7, 'yes', 'yes', 'unknown', 7, 'may', 238, 3, -1, 0, 'unknown', 'no')
(44, 'adults', 'blue-collar', 'married', 'primary', 'no', -171, 'yes', 'no', 'unknown', 7, 'may', 441, 2, -1, 0, 'unknown', 'no')
(44, 'adults', 'entrepreneur', 'married', 'primary', 'no', 58, 'yes', 'no', 'unknown', 7, 'may', 113, 3, -1, 0, 'unknown', 'no')
(44, 'adults', 'services', 'divorced', 'secondary', 'no', 396, 'yes', 'yes', 'unknown', 7, 'may', 396, 4, -1, 0, 'unknown', 'no')
(44, 'adults', 'blue-collar', 'married', 'primary', 'no', 420, 'yes', 'no', 'unknown', 7, 'may', 110, 2, -1, 0, 'unknown', 'no')
(44, 'adults', 'blue-collar', 'single', 'unknown', 'no', 2167, 'yes', 'no', 'unknown', 7, 'may', 1273, 1, -1, 0, 'unknown', 'no')
(44, 'adults', 'blue-collar', 'single', 'secondary', 'no', -212, 'yes', 'yes', 'unknown', 7, 'may', 103, 4, -1, 0, 'unknown', 'no')
(44, 'adults', 'blue-collar', 'married', 'secondary', 'no', 1, 'yes', 'no', 'unknown', 7, 'may', 281, 2, -1, 0, 'unknown', 'no')
(44, 'adults', 'admin.', 'single', 'secondary', 'no', -30, 'yes', 'no', 'unknown', 7, 'may', 404, 5, -1, 0, 'unknown', 'no')
(44, 'adults', 'technician', 'married', 'secondary', 'no', -97, 'yes', 'no', 'unknown', 7, 'may', 408, 3, -1, 0, 'unknown', 'no')
(44, 'adults', 'housemaid', 'married', 'secondary', 'no', 281, 'yes', 'no', 'unknown', 8, 'may', 604, 1, -1, 0, 'unknown', 'no')
(44, 'adults', 'blue-collar', 'married', 'primary', 'no', 185, 'yes', 'no', 'unknown', 8, 'may', 249, 1, -1, 0, 'unknown', 'no')
(44, 'adults', 'blue-collar', 'married', 'secondary', 'no', -95, 'yes', 'no', 'unknown', 8, 'may', 110, 1, -1, 0, 'unknown', 'no')
(44, 'adults', 'admin.', 'single', 'secondary', 'no', -84, 'yes', 'no', 'unknown', 8, 'may', 32, 3, -1, 0, 'unknown', 'no')
(44, 'adults', 'blue-collar', 'single', 'secondary', 'no', 36, 'yes', 'no', 'unknown', 8, 'may', 712, 1, -1, 0, 'unknown', 'no')
(44, 'adults', 'blue-collar', 'married', 'secondary', 'yes', -617, 'yes', 'no', 'unknown', 8, 'may', 172, 1, -1, 0, 'unknown', 'no')
(44, 'adults', 'services', 'divorced', 'secondary', 'no', 240, 'yes', 'no', 'unknown', 8, 'may', 155, 2, -1, 0, 'unknown', 'no')
(44, 'adults', 'technician', 'married', 'unknown', 'no', 185, 'yes', 'yes', 'unknown', 8, 'may', 63, 1, -1, 0, 'unknown', 'no')
(44, 'adults', 'blue-collar', 'married', 'primary', 'no', 753, 'yes', 'no', 'unknown', 8, 'may', 151, 2, -1, 0, 'unknown', 'no')
(44, 'adults', 'services', 'single', 'secondary', 'no', 1378, 'yes', 'no', 'unknown', 8, 'may', 257, 2, -1, 0, 'unknown', 'no')
(44, 'adults', 'technician', 'single', 'secondary', 'no', 365, 'yes', 'no', 'unknown', 8, 'may', 169, 2, -1, 0, 'unknown', 'no')
(44, 'adults', 'blue-collar', 'married', 'secondary', 'no', 373, 'yes', 'no', 'unknown', 8, 'may', 122, 2, -1, 0, 'unknown', 'no')
(44, 'adults', 'management', 'divorced', 'tertiary', 'no', 3932, 'yes', 'no', 'unknown', 8, 'may', 40, 2, -1, 0, 'unknown', 'no')
(44, 'adults', 'blue-collar', 'married', 'secondary', 'no', 138, 'yes', 'no', 'unknown', 8, 'may', 283, 3, -1, 0, 'unknown', 'no')
(44, 'adults', 'management', 'married', 'secondary', 'no', 576, 'yes', 'no', 'unknown', 8, 'may', 128, 3, -1, 0, 'unknown', 'no')
(44, 'adults', 'technician', 'single', 'secondary', 'no', 1059, 'yes', 'no', 'unknown', 9, 'may', 286, 1, -1, 0, 'unknown', 'no')
(44, 'adults', 'blue-collar', 'married', 'secondary', 'no', 85, 'yes', 'no', 'unknown', 9, 'may', 116, 2, -1, 0, 'unknown', 'no')
(44, 'adults', 'management', 'married', 'tertiary', 'no', 223, 'yes', 'no', 'unknown', 9, 'may', 93, 2, -1, 0, 'unknown', 'no')
(44, 'adults', 'blue-collar', 'married', 'primary', 'no', -11, 'yes', 'no', 'unknown', 9, 'may', 13, 1, -1, 0, 'unknown', 'no')
(44, 'adults', 'admin.', 'married', 'secondary', 'no', 469, 'yes', 'no', 'unknown', 9, 'may', 88, 4, -1, 0, 'unknown', 'no')
(44, 'adults', 'blue-collar', 'married', 'primary', 'no', 271, 'yes', 'yes', 'unknown', 9, 'may', 94, 1, -1, 0, 'unknown', 'no')
(44, 'adults', 'management', 'married', 'tertiary', 'no', 392, 'yes', 'no', 'unknown', 9, 'may', 124, 2, -1, 0, 'unknown', 'no')
(44, 'adults', 'unemployed', 'married', 'secondary', 'no', -407, 'yes', 'no', 'unknown', 9, 'may', 119, 2, -1, 0, 'unknown', 'no')
(44, 'adults', 'unemployed', 'married', 'secondary', 'no', 304, 'yes', 'no', 'unknown', 12, 'may', 129, 2, -1, 0, 'unknown', 'no')
(44, 'adults', 'services', 'divorced', 'secondary', 'no', 210, 'no', 'yes', 'unknown', 12, 'may', 111, 2, -1, 0, 'unknown', 'no')
(44, 'adults', 'blue-collar', 'married', 'secondary', 'no', 23, 'yes', 'no', 'unknown', 12, 'may', 388, 2, -1, 0, 'unknown', 'no')
(44, 'adults', 'blue-collar', 'married', 'secondary', 'no', 236, 'yes', 'no', 'unknown', 12, 'may', 596, 1, -1, 0, 'unknown', 'no')
(44, 'adults', 'blue-collar', 'married', 'secondary', 'no', 78, 'yes', 'no', 'unknown', 12, 'may', 253, 2, -1, 0, 'unknown', 'no')
(44, 'adults', 'management', 'single', 'tertiary', 'no', 295, 'yes', 'no', 'unknown', 12, 'may', 103, 8, -1, 0, 'unknown', 'no')
(44, 'adults', 'technician', 'single', 'tertiary', 'no', 166, 'yes', 'no', 'unknown', 13, 'may', 267, 3, -1, 0, 'unknown', 'no')
(44, 'adults', 'blue-collar', 'married', 'primary', 'no', 353, 'yes', 'no', 'unknown', 13, 'may', 705, 1, -1, 0, 'unknown', 'no')
(44, 'adults', 'management', 'married', 'tertiary', 'no', 0, 'no', 'no', 'unknown', 13, 'may', 27, 1, -1, 0, 'unknown', 'no')
(44, 'adults', 'technician', 'divorced', 'secondary', 'no', 181, 'no', 'no', 'unknown', 13, 'may', 302, 1, -1, 0, 'unknown', 'no')
(44, 'adults', 'blue-collar', 'married', 'primary', 'no', 23, 'yes', 'no', 'unknown', 13, 'may', 135, 1, -1, 0, 'unknown', 'no')
(44, 'adults', 'technician', 'married', 'tertiary', 'no', 0, 'yes', 'yes', 'unknown', 13, 'may', 127, 2, -1, 0, 'unknown', 'no')
(44, 'adults', 'management', 'married', 'tertiary', 'no', 6203, 'yes', 'yes', 'unknown', 13, 'may', 129, 1, -1, 0, 'unknown', 'no')
(44, 'adults', 'blue-collar', 'married', 'secondary', 'no', 476, 'yes', 'no', 'unknown', 13, 'may', 473, 1, -1, 0, 'unknown', 'no')
(44, 'adults', 'admin.', 'married', 'secondary', 'no', 1362, 'yes', 'no', 'unknown', 13, 'may', 46, 1, -1, 0, 'unknown', 'no')
(44, 'adults', 'admin.', 'single', 'unknown', 'no', 3, 'yes', 'no', 'unknown', 13, 'may', 443, 1, -1, 0, 'unknown', 'no')
(44, 'adults', 'management', 'married', 'tertiary', 'no', 126, 'yes', 'no', 'unknown', 13, 'may', 92, 1, -1, 0, 'unknown', 'no')
(44, 'adults', 'admin.', 'married', 'secondary', 'no', 1423, 'yes', 'no', 'unknown', 13, 'may', 162, 4, -1, 0, 'unknown', 'no')
(44, 'adults', 'technician', 'single', 'tertiary', 'no', 607, 'yes', 'no', 'unknown', 13, 'may', 119, 2, -1, 0, 'unknown', 'no')
(44, 'adults', 'blue-collar', 'married', 'primary', 'no', 300, 'yes', 'no', 'unknown', 13, 'may', 297, 3, -1, 0, 'unknown', 'no')
(44, 'adults', 'technician', 'married', 'secondary', 'no', 3790, 'yes', 'no', 'unknown', 13, 'may', 342, 2, -1, 0, 'unknown', 'no')
(44, 'adults', 'technician', 'married', 'primary', 'no', 2887, 'yes', 'no', 'unknown', 13, 'may', 182, 1, -1, 0, 'unknown', 'no')
(44, 'adults', 'services', 'married', 'secondary', 'no', 29312, 'no', 'no', 'unknown', 13, 'may', 226, 1, -1, 0, 'unknown', 'no')
(44, 'adults', 'services', 'married', 'primary', 'no', 2226, 'yes', 'yes', 'unknown', 13, 'may', 55, 1, -1, 0, 'unknown', 'no')
(44, 'adults', 'services', 'divorced', 'secondary', 'no', 0, 'yes', 'yes', 'unknown', 13, 'may', 97, 1, -1, 0, 'unknown', 'no')
(44, 'adults', 'blue-collar', 'married', 'secondary', 'no', 1340, 'yes', 'no', 'unknown', 13, 'may', 244, 1, -1, 0, 'unknown', 'no')
(44, 'adults', 'self-employed', 'married', 'secondary', 'no', 264, 'yes', 'no', 'unknown', 13, 'may', 198, 2, -1, 0, 'unknown', 'no')
(44, 'adults', 'management', 'single', 'tertiary', 'no', 9956, 'yes', 'no', 'unknown', 13, 'may', 194, 2, -1, 0, 'unknown', 'no')
(44, 'adults', 'blue-collar', 'married', 'primary', 'no', 617, 'yes', 'no', 'unknown', 13, 'may', 227, 2, -1, 0, 'unknown', 'no')
(44, 'adults', 'blue-collar', 'single', 'secondary', 'no', 633, 'yes', 'no', 'unknown', 13, 'may', 1032, 1, -1, 0, 'unknown', 'no')
(44, 'adults', 'blue-collar', 'married', 'secondary', 'no', 326, 'yes', 'no', 'unknown', 14, 'may', 35, 2, -1, 0, 'unknown', 'no')
(44, 'adults', 'entrepreneur', 'married', 'secondary', 'no', 0, 'no', 'no', 'unknown', 14, 'may', 211, 2, -1, 0, 'unknown', 'no')
(44, 'adults', 'blue-collar', 'married', 'secondary', 'no', 0, 'yes', 'no', 'unknown', 14, 'may', 101, 2, -1, 0, 'unknown', 'no')
(44, 'adults', 'services', 'single', 'secondary', 'no', 0, 'yes', 'no', 'unknown', 14, 'may', 179, 1, -1, 0, 'unknown', 'no')
(44, 'adults', 'services', 'single', 'secondary', 'no', 0, 'yes', 'no', 'unknown', 14, 'may', 198, 1, -1, 0, 'unknown', 'no')
(44, 'adults', 'blue-collar', 'single', 'unknown', 'no', -101, 'yes', 'no', 'unknown', 14, 'may', 143, 1, -1, 0, 'unknown', 'no')
(44, 'adults', 'self-employed', 'divorced', 'secondary', 'no', 80, 'yes', 'yes', 'unknown', 14, 'may', 387, 2, -1, 0, 'unknown', 'no')
(44, 'adults', 'technician', 'single', 'secondary', 'no', -27, 'yes', 'yes', 'unknown', 14, 'may', 100, 3, -1, 0, 'unknown', 'no')
(44, 'adults', 'blue-collar', 'married', 'secondary', 'no', 1944, 'yes', 'no', 'unknown', 14, 'may', 222, 5, -1, 0, 'unknown', 'no')
(44, 'adults', 'blue-collar', 'married', 'primary', 'no', 0, 'yes', 'no', 'unknown', 14, 'may', 220, 7, -1, 0, 'unknown', 'no')
(44, 'adults', 'admin.', 'married', 'secondary', 'no', 447, 'yes', 'yes', 'unknown', 14, 'may', 106, 5, -1, 0, 'unknown', 'no')
(44, 'adults', 'blue-collar', 'married', 'secondary', 'no', 2017, 'yes', 'no', 'unknown', 14, 'may', 74, 3, -1, 0, 'unknown', 'no')
(44, 'adults', 'management', 'married', 'tertiary', 'no', 474, 'yes', 'yes', 'unknown', 14, 'may', 183, 4, -1, 0, 'unknown', 'no')
(44, 'adults', 'services', 'divorced', 'secondary', 'no', 2416, 'yes', 'no', 'unknown', 14, 'may', 304, 3, -1, 0, 'unknown', 'no')
(44, 'adults', 'management', 'married', 'tertiary', 'no', 1945, 'no', 'no', 'unknown', 14, 'may', 191, 1, -1, 0, 'unknown', 'no')
(44, 'adults', 'admin.', 'married', 'primary', 'no', 248, 'yes', 'no', 'unknown', 14, 'may', 234, 1, -1, 0, 'unknown', 'no')
(44, 'adults', 'technician', 'divorced', 'secondary', 'no', 976, 'yes', 'no', 'unknown', 14, 'may', 302, 2, -1, 0, 'unknown', 'no')
(44, 'adults', 'unemployed', 'married', 'secondary', 'no', 728, 'yes', 'no', 'unknown', 14, 'may', 21, 11, -1, 0, 'unknown', 'no')
(44, 'adults', 'blue-collar', 'married', 'primary', 'no', -295, 'yes', 'no', 'unknown', 14, 'may', 303, 4, -1, 0, 'unknown', 'no')
(44, 'adults', 'blue-collar', 'married', 'primary', 'no', 112, 'yes', 'no', 'unknown', 14, 'may', 225, 2, -1, 0, 'unknown', 'no')
(44, 'adults', 'technician', 'married', 'secondary', 'no', 2626, 'yes', 'no', 'unknown', 14, 'may', 567, 3, -1, 0, 'unknown', 'no')
(44, 'adults', 'blue-collar', 'married', 'primary', 'no', 3407, 'yes', 'no', 'unknown', 15, 'may', 179, 2, -1, 0, 'unknown', 'no')
(44, 'adults', 'management', 'married', 'tertiary', 'no', 1033, 'yes', 'no', 'unknown', 15, 'may', 71, 1, -1, 0, 'unknown', 'no')
(44, 'adults', 'entrepreneur', 'married', 'primary', 'no', 276, 'yes', 'yes', 'unknown', 15, 'may', 219, 1, -1, 0, 'unknown', 'no')
(44, 'adults', 'blue-collar', 'single', 'primary', 'no', 116, 'yes', 'no', 'unknown', 15, 'may', 160, 1, -1, 0, 'unknown', 'no')
(44, 'adults', 'blue-collar', 'married', 'primary', 'no', 2467, 'yes', 'no', 'unknown', 15, 'may', 36, 1, -1, 0, 'unknown', 'no')
(44, 'adults', 'blue-collar', 'married', 'secondary', 'no', 560, 'yes', 'no', 'unknown', 15, 'may', 80, 1, -1, 0, 'unknown', 'no')
(44, 'adults', 'blue-collar', 'married', 'unknown', 'no', 146, 'yes', 'no', 'unknown', 15, 'may', 483, 1, -1, 0, 'unknown', 'yes')
(44, 'adults', 'management', 'married', 'tertiary', 'no', 2400, 'yes', 'no', 'unknown', 15, 'may', 74, 1, -1, 0, 'unknown', 'no')
(44, 'adults', 'blue-collar', 'single', 'secondary', 'no', 641, 'no', 'no', 'unknown', 15, 'may', 257, 1, -1, 0, 'unknown', 'no')
(44, 'adults', 'services', 'married', 'secondary', 'no', -22, 'yes', 'no', 'unknown', 15, 'may', 37, 1, -1, 0, 'unknown', 'no')
(44, 'adults', 'blue-collar', 'married', 'secondary', 'no', 1786, 'yes', 'no', 'unknown', 15, 'may', 452, 2, -1, 0, 'unknown', 'no')
(44, 'adults', 'management', 'married', 'secondary', 'no', 38, 'yes', 'no', 'unknown', 15, 'may', 152, 2, -1, 0, 'unknown', 'no')
(44, 'adults', 'technician', 'married', 'tertiary', 'no', 4580, 'yes', 'no', 'unknown', 15, 'may', 911, 2, -1, 0, 'unknown', 'yes')
(44, 'adults', 'technician', 'married', 'secondary', 'no', 185, 'yes', 'no', 'unknown', 15, 'may', 194, 2, -1, 0, 'unknown', 'no')
(44, 'adults', 'blue-collar', 'married', 'primary', 'no', 0, 'yes', 'no', 'unknown', 15, 'may', 226, 6, -1, 0, 'unknown', 'no')
(44, 'adults', 'management', 'married', 'secondary', 'no', 2984, 'yes', 'no', 'unknown', 15, 'may', 770, 2, -1, 0, 'unknown', 'no')
(44, 'adults', 'technician', 'divorced', 'secondary', 'no', 809, 'yes', 'no', 'unknown', 15, 'may', 118, 4, -1, 0, 'unknown', 'no')
(44, 'adults', 'blue-collar', 'married', 'primary', 'no', 412, 'yes', 'no', 'unknown', 15, 'may', 56, 13, -1, 0, 'unknown', 'no')
(44, 'adults', 'blue-collar', 'married', 'primary', 'no', 140, 'yes', 'no', 'unknown', 15, 'may', 7, 9, -1, 0, 'unknown', 'no')
(44, 'adults', 'housemaid', 'married', 'primary', 'yes', -972, 'yes', 'yes', 'unknown', 16, 'may', 114, 2, -1, 0, 'unknown', 'no')
(44, 'adults', 'entrepreneur', 'married', 'tertiary', 'no', 3689, 'yes', 'no', 'unknown', 16, 'may', 134, 3, -1, 0, 'unknown', 'no')
(44, 'adults', 'blue-collar', 'married', 'primary', 'no', 1511, 'yes', 'no', 'unknown', 16, 'may', 96, 2, -1, 0, 'unknown', 'no')
(44, 'adults', 'blue-collar', 'divorced', 'unknown', 'no', 532, 'no', 'no', 'unknown', 16, 'may', 141, 2, -1, 0, 'unknown', 'no')
(44, 'adults', 'services', 'married', 'secondary', 'no', 0, 'yes', 'yes', 'unknown', 16, 'may', 471, 2, -1, 0, 'unknown', 'no')
(44, 'adults', 'admin.', 'married', 'secondary', 'no', 0, 'yes', 'yes', 'unknown', 16, 'may', 159, 1, -1, 0, 'unknown', 'no')
(44, 'adults', 'admin.', 'married', 'secondary', 'no', 73, 'yes', 'no', 'unknown', 16, 'may', 404, 1, -1, 0, 'unknown', 'no')
(44, 'adults', 'blue-collar', 'married', 'primary', 'no', 1485, 'yes', 'no', 'unknown', 16, 'may', 428, 1, -1, 0, 'unknown', 'no')
(44, 'adults', 'self-employed', 'married', 'secondary', 'no', 1310, 'yes', 'no', 'unknown', 16, 'may', 290, 1, -1, 0, 'unknown', 'no')
(44, 'adults', 'blue-collar', 'married', 'tertiary', 'no', 2185, 'yes', 'no', 'unknown', 16, 'may', 698, 1, -1, 0, 'unknown', 'no')
(44, 'adults', 'admin.', 'married', 'secondary', 'no', 2687, 'yes', 'no', 'unknown', 16, 'may', 131, 4, -1, 0, 'unknown', 'no')
(44, 'adults', 'technician', 'single', 'secondary', 'no', 696, 'yes', 'no', 'unknown', 16, 'may', 680, 3, -1, 0, 'unknown', 'no')
(44, 'adults', 'blue-collar', 'married', 'primary', 'no', 195, 'yes', 'no', 'unknown', 16, 'may', 541, 5, -1, 0, 'unknown', 'no')